@font-face {
  font-family: AlrightSans;
  src: url(AlrightSans-Thin-v3.otf);
}


body {
  height: 100%;
  background-color: #fff;
  margin: 10% 0 0 2%;
  font-family: AlrightSans, 'Open-Sans', sans-serif;
  color: black;
  font-weight: 300;
  font-size: 3em;
  box-shadow: 1px;
}

a {
  text-decoration: none;
  color: #D91E18;
  &:hover {
    color: rgba(246, 71, 71, 0.3);
  }
}
