@font-face {
  font-family: AlrightSans;
  src: url(AlrightSans-Thin-v3.otf);
}

html {
  font-family: 'AlrightSans', 'Open-Sans', sans-serif;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  color: #D91E18;;
}

a:hover {
  color: rgba(246, 71, 71, 0.3);
  text-decoration: none;
}

.icon:hover {
  color: rgba(246, 71, 71, 0.3);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.half-gutter{
  margin-top: 31vh;
}
